body {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  width: 1440px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  display: flex;
  position: absolute;
  top: 8px;
  left: 16px;
}

ul {
  display: flex;
  flex-direction: row;
}

header li {
  list-style: none;
  padding: 7px 30px 0 30px;
  color: hsl(0, 0%, 100%);

}

header li:first-child {
  font-size: x-large;
  padding: 0 30px 0 30px;
}