h1 {
    color: hsl(0, 0%, 0%);
    font-size: 45px;
}

.txt {
    color: hsl(0, 0%, 63%);
}

.main-container {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .buy {
    width: 300px;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 15px;
}

.buy:hover {
    color: hsl(0, 0%, 63%);
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-left: 0;

    margin-left: 6px;
    background: hsl(0, 0%, 0%);
    width: 200px;
    height: 100px;
}

.buttons button {
    background: transparent;
    border: none;
}

.left-arrow,
.right-arrow {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow:hover,
.right-arrow:hover {
    background: hsl(0, 0%, 27%)
}

.test {
    margin-top: 10%;
    margin-left: 29%;
}

.rightbox {
    padding-top: 10px;
    justify-content: center;
}

.img {
    height: 524px;
}

img {
    height: 100%;

}

li:hover {
    text-decoration: underline;
}