h1 {
    color: hsl(0, 0%, 0%);
    font-size: 45px;
}

.txt {
    color: hsl(0, 0%, 63%);
}

.main-container {
    display: flex;
    flex-direction: row;
}

.right {

    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .buy {
    width: 300px;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-left: 0;
    background: hsl(0, 0%, 0%);
    width: 200px;
    height: 100px;
}

.buttons button {
    background: transparent;
}

.left-arrow,
.right-arrow {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    margin-top: 10%;
    margin-left: 25%;
}

.rightbox {
    padding-top: 10px;
    justify-content: center;
}